extends ../layouts/main.pug

block content 
    div.top
        form(action="/create", method="get")
            button(type="submit") 추가하기
    h3 전체 메모의 수는 #{list.length}개 입니다.          
    each data in list        
        div.main
            div.main__desc #{data.description}
            div.main__footer
                form(action=`/detail`, method="get")
                    input(type="hidden" name="id" value=data._id)
                    button(type="submit") 상세보기         